body {
    background-color: #CCEEFF;
    color: #000033;
    margin: 20px 20px 20px 20px;
    font-size: 12pt;
    text-align: justify; text-justify: distribute-all-lines;
}

a:link {
    text-decoration: none;
    color: #003377;
}

a:visited {
    text-decoration: none;
    color: #003377;
}

a:active {
    text-decoration: none;
    color: #003377;
}

a:hover {
    text-decoration: none;
    color: #6677DD;
}

p {
    font-size: 12pt;
    text-align: justify; text-justify: distribute-all-lines;
    margin:0;
    padding:0;
}

h1 {
    text-align: center;
    color: #FF7722;
}

h3 {
    text-align: center;
    color: #003377;
}

table.content {
    margin: auto auto auto auto;
}

table.content tr td {
    text-align: justify; text-justify: distribute-all-lines;
    vertical-align: top;
}

div.image {
    text-align: center;
    float: left;
    width: 30%;
    margin: 10px 10px 10px 10px;
}

div.image p img {
    width: 100%;
}

div.text_background {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
}

div.text {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        padding: 16px;
        border: 16px solid orange;
        background-color: white;
        z-index:1002;
        overflow: auto;
}

div.info {
    height: 30px;
    padding: 15px 0px 0px 0px;
}

span.info {
    font-weight: bold;
}
