body {
    background-color: #CCEEFF;
    color: #000033;
    margin: 20px 20px 20px 20px;
    font-size: 12pt;
    text-align: justify; text-justify: distribute-all-lines;
}

a:link {
    text-decoration: none;
    color: #003377;
}

a:visited {
    text-decoration: none;
    color: #003377;
}

a:active {
    text-decoration: none;
    color: #003377;
}

a:hover {
    text-decoration: none;
    color: #6677DD;
}

p {
    font-size: 12pt;
    text-align: justify; text-justify: distribute-all-lines;
    margin:0;
    padding:0;
}

h1 {
    text-align: center;
    color: #FF7722;
}

h2, h3 {
    text-align: center;
    color: #003377;
}

table.content {
    margin: auto auto auto auto;
}

table.content tr td {
    text-align: justify; text-justify: distribute-all-lines;
    vertical-align: top;
}

div.image {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    float: left;
    width: 30%;
    margin: 10px 10px 10px 10px;
}

div.image p img {
    width: 100%;
}

div.text_background {
    position: fixed;
    background-color: #000000;
    background-repeat: repeat;
    opacity: 0.50;
    -moz-opacity: 0.50;
    filter: alpha(opacity=50);
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
}

div.text {
    position: fixed;
    background-color: #FFFFFF;
    z-index:21;
    width: 70%;
    height: 70%;
    top: 10%;
    left: 15%;
    padding: 16px;
    border: 16px solid #0099CC;
    overflow: auto;
    display: none;
}

div.info {
    height: 30px;
    padding: 15px 0px 0px 0px;
}

span.info {
    font-weight: bold;
}
